<!DOCTYPE html>
<html>
    <head>
        <style>
        body{
color:#ff4da6;
margin-left: 300px;
padding :0 auto;
font-family: Arial;
display:flex;
flex-direction: column;
min-height: 100vh;

}
#msg1{
    color:  #990000;

    margin-top: 20px;

}
#msg2{
    color:#003300;
    margin-top: 20px;
}

header{
    color:#8000ff;
    margin-top:16px;
    padding :10px;
    margin-bottom: 16px;
}
.Main{
    flex-grow: 1;
} 
footer{
    color:#7a7a52;
    border-top: 1px solid  #b8b894;
    padding :13px;
    margin-bottom: 16px;
    margin-top:16px;
    
}
header a {
    color:#1a000d;
    text-decoration: underline;
    font-size: 24px;
}
h1{
    font-size: 64px;
    color:#1a000d;

}.portrait{
    width: 300px;
}input{
    border: 1px solid  #3d3d29;
    padding :6px;

}button{
    border:1px solid  #3d3d29;
cursor: pointer;
background-color: #3d3d29;
color:white;
padding :5px;


}
button:hover{
    background-color: aqua
}</style>
        <link rel= "stylesheet" href="./css/styles.css">
        
    </head>
    <body>
        <div class="Main">
 {{>header}}
<img  class ="portrait" src="./img/robot.png">
        </div>
       
{{>footer}}
    </body>
</html>