<!DOCTYPE html>
<html>
    <head>
<link rel= "stylesheet" href="\css\styles.css">
    </head>
    <body>
        <div class="Main">
            {{>header}}
       <h1>{{error}}</h1> 
        </div>
        
       {{>footer}}
    </body>
</html>
